<!-- Modal -->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="modal">
	<div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Attention !</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-modal-target='closeButton'></button>
		    </div>

		    <div class="modal-body">
		    	<div class="texte_etiquette">Si vous modifiez une caractéristique de votre emploi fonctionnel actuel, vous devrez recommencer les simulations futures.</div>

		    	
		        <br>
		        <div><button type="button" class="bouton" data-bs-dismiss="modal" data-modal-target='closeButton' data-action="click->toggle#reset">Confirmer</button></div>
		    </div>
			
		      
		</div>
	</div>
</div>
		


