<div class="page_container">
	<div class="accueil">
		<div class="row">
		<div class="col-md-8">
			<div><%= image_tag 'logo_simulae.svg', alt:"logo DB"  %></div>
		</div>
		<div class="col-md-4">
			<div class="texte_etiquette">Texte explicatif du simulateur</div>
		</div>
		</div>
	</div>
</div>
