<% content_for :title do %>Accueil - Simulae <% end %>
<main role="main" class="containtAll">

<div class="fr-container fr-mt-7w">
	<div class="fr-grid-row fr-grid-row--gutters">
		<div class="fr-col-lg-10 fr-col-offset-lg-1">
			<h1> SIMULAE, Simulateur de la réforme de la haute fonction publique</h1>
			<p><a class="fr-link" href="/simulateur">Accéder au simulateur <span class="fr-icon-arrow-right-line fr-ml-1v fr-fi--sm" aria-hidden="true"></span></a></p>
				<div class="fr-notice fr-notice--info">
				    <div class="fr-container">
				        <div class="fr-notice__body">
				            <p class="fr-notice__title">
				              Texte de présentation de la réforme et d’utilisation de l’outil à construire par la DGAFP.
				            </p>
				        </div>
				    </div>
				</div>
		</div>

	</div>
</div>
<hr class="fr-grid-row fr-col-xs-10 fr-col-7 fr-my-7w">


<div class="fr-container">
	<div class="fr-grid-row fr-grid-row--gutters">
		<div class="fr-col-lg-10 fr-col-offset-lg-1">

			<h2>Questions fréquentes </h2>
			<div class="fr-notice fr-notice--info">
				    <div class="fr-container">
				        <div class="fr-notice__body">
				            <p class="fr-notice__title">
				              À construire par la DGAFP.
				            </p>
				        </div>
				    </div>
				</div>
		</div>

	</div>
</div>
<hr class="fr-grid-row fr-col-xs-10 fr-col-7 fr-my-7w">
</main>
