<% content_for :title do %>Accueil - Simulae <% end %>
<main role="main" class="containtAll">

<div class="fr-container fr-mt-7w">
	<div class="fr-grid-row fr-grid-row--gutters">
		<div class="fr-col-lg-10 fr-col-offset-lg-1">
			<h1> SIMULAE, Simulateur de la réforme de la haute fonction publique</h1>
			<p><a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="/">Accéder au simulateur</a></p>
			<p class="fr-mt-5w">Texte explication du simulateur</p>
			
		</div>

	</div>
</div>
<hr class="fr-grid-row fr-col-xs-10 fr-col-7 fr-my-7w">


<div class="fr-container">
	<div class="fr-grid-row fr-grid-row--gutters">
		<div class="fr-col-lg-10 fr-col-offset-lg-1">

			<h2>Questions fréquentes</h2>
			<p class="fr-mt-5w">FAQ</p>
		</div>

	</div>
</div>
<hr class="fr-grid-row fr-col-xs-10 fr-col-7 fr-my-7w">
</main>
