<div class="page_container">
		  		<div class="titre_page">Données Personnelles</div>
		  		<div class="d24"></div>
				<div class="titre_etiquette">Cookies et respect de votre vie privée</div>
				<div class="d12"></div>
				<div class="texte_etiquette">
					Ce site ne prélève aucune donnée à caractère personnel et ne fait intervenir aucuns cookies. 
				</div>
				<div class="d12"></div>
				<div class="texte_etiquette">
					Nous sommes ainsi en conformité avec la réglementation « Cookies » de la CNIL et exemptés d’autorisation préalable. C’est pour cela que vous n’avez pas eu besoin de cliquer sur un bloc pour accepter le dépôt de cookies ! 

				</div>
			</div>
				
				
