<main role="main" id="content">
                <div class="fr-container">
                    <div class="fr-my-7w fr-mt-md-12w fr-mb-md-10w fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
                        <div class="fr-py-0 fr-col-12 fr-col-md-6 fr-col-offset-md-1">
                            <h1>Simulation impossible</h1>
                            <p class="fr-text--sm fr-mb-3w">Erreur</p>
                            <p class="fr-text--lg fr-mb-3w">La simulation est impossible avec les informations renseignées.</p>
                            <p class="fr-text--sm fr-mb-6w">
                                Veuillez recommencez en changeant les caractéristiques.
                                <br>Si vous avez besoin d'une aide immédiate, merci de nous contacter.
                            </p>
                            <ul class="fr-btns-group fr-btns-group--inline-md">
                                <li>
                                    <%= link_to root_path, class:"fr-btn" do %>
                                        Page d'accueil
                                    <%end%>
                                </li>
                                <li>
                                    <a class="fr-btn fr-btn--secondary" href="mailto:declic.budget@finances.gouv.fr" target="_blank">
                                        Contactez-nous
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="fr-col-12 fr-col-md-3 fr-col-offset-md-1 fr-px-6w fr-px-md-0">
                            
                            <%= image_tag "technical-error.svg", class: "fr-responsive-img fr-artwork", height: '200', width: '160' %>
                              
                        </div>
                    </div>
                </div>
            </main>