<% content_for :title do %>Effectuez votre simulation - Simulae <% end %>

<main role="main" class="containtAll" >
	<div class="fr-container">
		<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
			    <button class="fr-breadcrumb__button " aria-expanded="false" aria-controls="breadcrumb-1" title="voir le fil d'ariane">Voir le fil d’Ariane</button>
			    <div class="fr-collapse" id="breadcrumb-1">
			        <ol class="fr-breadcrumb__list">
			            <li>
			                <a class="fr-breadcrumb__link" href="/">Accueil </a>
			            </li>
			            <li>
			                <a class="fr-breadcrumb__link" aria-current="page">Simulateur</a>
			            </li>
			        </ol>
			    </div>
		</nav>
		<div class="fr-grid-row fr-grid-row--gutters">
			<div class="fr-col-12 fr-col-lg-12">
				<h1> Simulez votre situation indiciaire future <span class="pright"> <%= link_to simulateur_path, class:" fr-btn fr-btn--icon-left" do %><span class="fr-fi-refresh-line fr-fi--sm fr-mr-1v" aria-hidden="true"></span>Réinitialiser<%end%></span></h1>
				
				<div class="fr-notice fr-notice--info">
				    <div class="fr-container">
				        <div class="fr-notice__body">
				            <p class="fr-notice__title">
				              Tous les champs comportant un astérisque (*) sont à remplir obligatoirement. Lorsqu'une année est renseignée, c'est la date du <u>1er janvier de l'année</u> qui est prise en compte.
				            </p>
				        </div>
				    </div>
				</div>
			</div>
		</div>

	</div>

	<hr class="fr-grid-row fr-col-xs-12 fr-col-12 fr-my-2w">

	<div class="fr-container">
		<% if !@corps.nil? && !@emplois_f2.nil?%>
		<div class="fr-grid-row fr-grid-row--gutters">
			<div class="fr-col-12">
				<%= render 'form'%>
			</div>	
		</div>

		<% end %>
	</div>
</main>