<% content_for :title do %>Effectuez votre simulation - Simulae <% end %>

<main role="main" class="containtAll">
	<div class="fr-container">
		<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
			    <button class="fr-breadcrumb__button " aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
			    <div class="fr-collapse" id="breadcrumb-1">
			        <ol class="fr-breadcrumb__list">
			            <li>
			                <a class="fr-breadcrumb__link" href="/">Accueil </a>
			            </li>
			            <li>
			                <a class="fr-breadcrumb__link" aria-current="page">Simulateur</a>
			            </li>
			        </ol>
			    </div>
		</nav>
		<div class="fr-grid-row fr-grid-row--gutters">
			<div class="fr-col-lg-12">
			<h1> Simulez votre nouvelle rémunération <span class="pright"> <%= link_to simulateur_path, class:" fr-btn fr-btn--icon-left" do %><span class="fr-fi-refresh-line fr-fi--sm fr-mr-3v" aria-hidden="true"></span>Réinitialiser la simulation<%end%></span></h1>
			<p class="fr-text--sm">Tous les champs comportant un astérisque (*) sont à remplir obligatoirement.</p>
			<p class="fr-text--sm">Les courbes s'afficheront lorsque vous aurez renseigné et validé les informations sur votre situation dans le formulaire de gauche ci-dessous.</p>
			
			</div>
		</div>
	</div>

	<hr class="fr-grid-row fr-col-xs-12 fr-col-12 fr-my-3w">

<div class="fr-container">
	<% if !@corps.nil? && !@emplois_f2.nil?%>
	<div class="fr-grid-row fr-grid-row--gutters">
		<div class="fr-col-lg-5">
			<%= render 'form'%>
		</div>
		<div class="fr-col-lg-7">
			<div id="graphe" class="graphe">				
				<%= render 'graphe'%>
			</div>
		</div>
	</div>
	<% end %>
</div>
</main>