<div class="page_container">
	<% if !@corps.nil? && !@emplois_f2.nil?%>
	<div class="row">
		<div class="col-lg-5">
			<div >
				<%= render 'form'%>
			</div>
		</div>
		<div class="col-lg-7">
			<div id="graphe" class="graphe">
				
				<%= render 'graphe'%>
			</div>
		</div>
	</div>
	<% end %>
</div>
