<div class="page_container">
		  		<div class="titre_page">Mentions légales</div>
		  		<div class="d24"></div>
		  		<div class="texte_etiquette">Mises à jour le 2 février 2022.</div>

				<div class='d24'></div>
				<div class="titre_etiquette">Éditeur</div>
				<div class="d12"></div>
				<div class="texte_etiquette">
					Ministère de l'Économie, des finances et de la relance - Direction du Budget
				</div>
				<div class="texte_etiquette">
					Directrice de la publication : Mme Mélanie Joder - Directrice du Budget

				</div>
				<div class="d24"></div>
				<div class="titre_etiquette">Conception et gestion du site</div>
				<div class="d12"></div>
				<div class="texte_etiquette">
					Alexandra Leschi et Lou Vettier – Direction du Budget (Bureau 2BMS)</div>

				<div class="d24"></div>
				<div class="titre_etiquette">Hébergement </div>
				<div class="d12"></div>
				<div class="texte_etiquette">
					Google Cloud Platform - Google France
				</div>
				<div class="texte_etiquette">
					Fournisseur de Cloud public (CSP) Google dans le cadre du marché UGAP C3
				</div>
				<div class="texte_etiquette">
					8, rue de Londres, 75009 Paris France
					01 42 68 53 00
				</div>

				<div class="d24"></div>
				<div class="titre_etiquette">Code source du site</div>
				<div class="d12"></div>
				<div class="texte_etiquette">
					Le code source du site est disponible sur Github.</div>


				<div class="d24"></div>
				<div class="titre_etiquette">Gestion des cookies</div>
				<div class="d12"></div>
				<div class="texte_etiquette">
					Ce portail n’utilise aucun cookie nécessitant un consentement des usagers. C’est pourquoi vous n’avez pas à accepter leur utilisation avant de poursuivre votre navigation.</div>
				
		  	</div>
