<% content_for :title do %>Mentions légales - Simulae <% end %>
<main role="main" class="fr-container fr-py-16v">
<div class="fr-grid-row">
	<div class="fr-col-12 fr-col-md-8">
		  		<h1>Mentions légales</h1>
		  		<section class="fr-py-6v">
		  		<p class="fr-mt-4v fr-mb-0">Mises à jour le 16 Mars 2022.</p>
		  		
				</section>
				
				<section class="fr-py-6v">
				<h2 class="fr-h5">Éditeur</h2>
				<p class="fr-mt-4v fr-mb-0">
					Ministère de l'Économie, des finances et de la relance - Direction du Budget
				</p>
				<p class="fr-mt-4v fr-mb-0">Directrice de la publication : Mme Mélanie Joder - Directrice du Budget</p>
				</section>
				<section class="fr-py-6v">
				<h2 class="fr-h5">Conception et gestion du site</h2>
				<p class="fr-mt-4v fr-mb-0">Direction du Budget</p>

				</section>
				<section class="fr-py-6v">
				<h2 class="fr-h5">Hébergement </h2>
				<p class="fr-mt-4v fr-mb-0">Google Cloud Platform - Google France</p>
				<p class="fr-mt-4v fr-mb-0">Fournisseur de Cloud public (CSP) Google dans le cadre du marché UGAP C3</p>
				<p class="fr-mt-4v fr-mb-0">
					8, rue de Londres, 75009 Paris France
					01 42 68 53 00
				</p>

				</section>
				<section class="fr-py-6v">
				<h2 class="fr-h5">Code source du site</h2>
				<p class="fr-mt-4v fr-mb-0">Le code source du site est disponible sur Github.</p>
				</section>
				
</div>
</div>
</main>				

