<% content_for :title do %>Mentions légales - Simulae <% end %>
<main role="main" class="fr-container fr-py-16v">

<div class="fr-grid-row">
	<div class="fr-col-12 fr-col-md-8">
		  		<h1>Mentions légales</h1>
		  	
				<section class="fr-pb-6v">
				
				<p class="fr-mt-4v fr-mb-0">
					Ce site est édité par la Direction du Budget au sein du Ministère de l'Économie, des finances et de la relance. 
				</p>
				<p class="fr-mt-4v fr-mb-0">Les mentions légales ont été établies le 16 Juillet 2022. Elles ont été mises à jour le 5 octobre 2022.</p>
				</section>
				<section class="fr-py-6v">
				<h2 class="fr-h2">Directeur de publication</h2>
				<p class="fr-mt-4v fr-mb-0">Mr Benoît LAROCHE DE ROUSSANE</p>

				</section>
				<section class="fr-py-6v">
				<h2 class="fr-h2">Conception et gestion du site</h2>
				<p class="fr-mt-4v fr-mb-0">Ce site est conçu et développé par l’équipe Budgetlab et utilise le système de design de l’État.</p>

				</section>
				<section class="fr-py-6v">
				<h2 class="fr-h2">Code source du site</h2>
				<p class="fr-mt-4v fr-mb-0">Le code source du site est disponible sur Github.</p>
				</section>
				<section class="fr-py-6v">
				<h2 class="fr-h2">Propriété intellectuelle et liens</h2>
				<p class="fr-mt-4v fr-mb-0">Tout site public ou privé est autorisé à établir, sans autorisation préalable, un lien vers les informations diffusées sur simulae.finances.gouv.fr</p>
				<p class="fr-mt-4v fr-mb-0">Sauf mention de propriété intellectuelle détenue par des tiers, les contenus de ce site sont proposés sous licence ouverte 2.0.</p>
				<p class="fr-mt-4v fr-mb-0">La mise en place de liens vers nos contenus et documents est cependant est à privilégier par rapport à la reproduction sur un site tiers. La mention explicite du site source simulae.finances.gouv.fr est recommandée.</p>
				</section>
				<section class="fr-py-6v">
				<h2 class="fr-h2">Hébergement </h2>
				<p class="fr-mt-4v fr-mb-0">Google Cloud Platform - Google France</p>
				<p class="fr-mt-4v fr-mb-0">Fournisseur de Cloud public (CSP) Google dans le cadre du marché UGAP C3</p>
				<p class="fr-mt-4v fr-mb-0">
					8, rue de Londres, 75009 Paris France
					01 42 68 53 00
				</p>

				</section>
				
				
</div>
</div>

</main>				

