@charset "UTF-8";
@font-face{font-display:swap;font-family:Marianne;font-style:normal;font-weight:300;src:font-url('Marianne-Light.woff2') format("woff2"),font-url('Marianne-Light.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:italic;font-weight:300;src:font-url('Marianne-Light_Italic.woff2') format("woff2"),font-url('Marianne-Light_Italic.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:normal;font-weight:400;src:font-url('Marianne-Regular.woff2') format("woff2"),font-url('Marianne-Regular.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:italic;font-weight:400;src:font-url('Marianne-Regular_Italic.woff2') format("woff2"),font-url('Marianne-Regular_Italic.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:normal;font-weight:500;src:font-url('Marianne-Medium.woff2') format("woff2"),font-url('Marianne-Medium.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:italic;font-weight:500;src:font-url('Marianne-Medium_Italic.woff2') format("woff2"),font-url('Marianne-Medium_Italic.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:normal;font-weight:700;src:font-url('Marianne-Bold.woff2') format("woff2"),font-url('Marianne-Bold.woff') format("woff")}@font-face{font-display:swap;font-family:Marianne;font-style:italic;font-weight:700;src:font-url('Marianne-Bold_Italic.woff2') format("woff2"),font-url('Marianne-Bold_Italic.woff') format("woff")}
 

html{
  height: 100%;
}

body div{
  font-family: Marianne, sans-serif;
}
a{
  &:hover{
  cursor:pointer;
  }
}

.fr-header__brand:hover, .fr-footer__brand:hover{
  background-color:transparent !important;
}
.fr-text-lg{
  font-size:1.125rem;
}
h1, h2{
  position:relative;
}

.texte_info{
  font-size:0.6875rem;
  font-style: italic;
}
.w100{
	width:100%;
}
.align_flex{
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: -moz-inline-flex;
  width:100%;
}
.align_flex_center{
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: -moz-inline-flex;
  width:100%;
  align-items:center;
}
@media(min-width:992px){
.pright{
  display:inline-block !important;
  position:absolute !important;
  right:0 !important;
}
}
@media(max-width:991px){
  .pright{
  display:block;
  margin-top:1.5rem;
  margin-bottom:1.5rem;
  }
}

.d24{
  height:1.5rem;
}

.cbleu{
  color:var(--text-action-high-blue-france);
}
.bouton_inactive {
  background-color: var(--background-disabled-grey) !important;
  color: var(--text-disabled-grey) !important;
  &:hover,&:active {
  background-color: var(--background-disabled-grey) !important;
  color: var(--text-disabled-grey) !important;
  cursor: not-allowed !important;
  }
}
.bouton_i{
  text-decoration:none;
  position:absolute;
  right:0rem;
  color:var(--text-action-high-blue-france);
  &:hover{
  background-color:transparent !important;
  }
}
.bouton_i2{
  color: var(--text-action-high-blue-france);
  &:hover{
  background-color:transparent !important;
  }
}

.select_inactive{
  color: var(--text-disabled-grey) !important;
}
.fr-select-error {
    color: #ce0500;
}
.texte_light{
  font-weight: lighter;
}
.italic{
  font-style: italic;
}
.bold{
  font-weight:bold ;
}
.highcharts-credits{
  color:var(--background-default-grey)!important;
  fill: var(--background-default-grey) !important;
  opacity:0 !important; 
}
.highcharts-tooltip, .highcharts-tooltip-box {
  z-index: 100 !important;
}
.highcharts-container, .highcharts-root{
  width:100% !important;
}
.highcharts-background{
  fill: var(--background-default-grey) !important;
}
.highcharts-title, .highcharts-subtitle, .highcharts-no-data, .btn-plus{
  color:var(--text-title-grey) !important;
  fill:var(--text-title-grey) !important;
  font-size: 1rem;
}
.tc{
  text-align: center;
}
.fr-results .fr-tag {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.fr-tag span {
  margin-left: 0.25rem !important;
}

.fr-table {
padding-top: 0px !important;
  max-height:30rem;
  overflow: auto;
}
.fr-table thead th {
  position: sticky;
  top: 0px;
  background-color: var(--background-contrast-grey);
  background-size: 100% 2px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, var(--border-plain-grey), var(--border-plain-grey));
}