<div class="page_header">
        <div class="logo_header">
          <%= image_tag 'logo_ministere2.svg', alt:"logo DB",class:"image_logo"  %>
          <%= image_tag 'logo_simulae.svg', alt:"logo DB",class:"image2"  %>
          
        </div>
</div>