<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                Ministère
                                <br>de l'économie<br>des finances<br>et de la relance
                            </p>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - SIMULAE">
                          <p class="fr-header__service-title">SIMULAE</p>
                        </a>
                        <p class="fr-header__service-tagline">Simulateur de la réforme de la haute fonction publique</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
