<div>
        <div classs="logo_header">
          <%= image_tag 'logo_ministere2.svg', alt:"logo DB",class:"image_logo"  %>
          
        </div>
        <div class="nav_header_box">
          <div class="nav_header">
            
            <div class="nav_link d-none d-md-block"><%= link_to root_path do %>Accueil<%end%></div> 
          </div>
        </div>
</div>